In [32]:
import pandas as pd
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))
pd.set_option('display.max_rows', 50)
pd.set_option('display.max_columns', 50)
pd.set_option('display.width', 1000)
pd.set_option('display.max_colwidth', 300)
pd.options.mode.chained_assignment = None  # default='warn'

In [33]:
#df = pd.read_csv('data/to_extract/database-c-find_PRODUCTION-'+YEAR+'.csv')
df = pd.read_csv('data/to_extract/database-c-find_PRODUCTION-MOHAMMED.csv')
df['StudyDate'] = pd.to_datetime(df['StudyDate'])
#df['StudyDate'] = pd.to_datetime(df['StudyDate'], format='%Y%m%d')
display(df.StudyDate.dt.month.value_counts())

11    91
5     89
12    88
4     83
10    80
8     65
2     63
7     61
6     60
9     59
1     56
3     55
Name: StudyDate, dtype: int64

In [34]:
#df[['PatientID','StudyInstanceUID']].to_csv('config/TO_EXTRACT/'+YEAR+'.csv')

In [35]:
#df.groupby(['PatientID','StudyDate','StudyTime']).first().to_csv('data/to_extract/CARDIO_REPORT_2020.csv')

### Start Here

In [36]:
import os


def list_files(dir):
    r = []
    subdirs = [x[0] for x in os.walk(dir)]
    for subdir in subdirs:
        files = os.walk(subdir).__next__()[2]
        
        if len(files) > 0:
            for file in files:
                r.append(os.path.join(subdir, file))
    return r

In [37]:
r = list_files('/media/data1/ravram/BVS_Mohammed')
display(len(r), " files found")
df = pd.DataFrame(list(zip(r)),
               columns =['path'])
new_2 = df["path"].str.split("/", n=8, expand=True)
display(new_2)
#df["year"] = new_2[5]
df["StudyInstanceUID"] = new_2[6]
df["patient_id_anon"] = new_2[5]
df["dicom_id"] = new_2[7]

#except:
#    print("No path")

24863

' files found'

      0       1      2       3             4                   5                                  6                                                            7
0         media  data1  ravram  BVS_Mohammed      requests.whole                               None                                                         None
1         media  data1  ravram  BVS_Mohammed  requests.completed                               None                                                         None
2         media  data1  ravram  BVS_Mohammed     requests.failed                               None                                                         None
3         media  data1  ravram  BVS_Mohammed              492835  2.16.124.113611.1.118.1.1.4072267  1.3.46.670589.28.3711508510107.20150130034127340165.2.2.dcm
4         media  data1  ravram  BVS_Mohammed              492835  2.16.124.113611.1.118.1.1.4072267  1.3.46.670589.28.3711508510107.20150130034144054167.2.2.dcm
...   ..    ...    ...     ...           ...                 ...                                ...                                                          ...
24858     media  data1  ravram  BVS_Mohammed              502507  2.16.124.113611.1.118.1.1.4248119  1.3.12.2.1107.5.4.5.10037.30000015092723400023400000777.dcm
24859     media  data1  ravram  BVS_Mohammed              502507  2.16.124.113611.1.118.1.1.4248119  1.3.12.2.1107.5.4.5.10037.30000015092723400023400000779.dcm
24860     media  data1  ravram  BVS_Mohammed              502507  2.16.124.113611.1.118.1.1.4248119  1.3.12.2.1107.5.4.5.10037.30000015092723400023400000781.dcm
24861     media  data1  ravram  BVS_Mohammed              502507  2.16.124.113611.1.118.1.1.4248119  1.3.12.2.1107.5.4.5.10037.30000015092723400023400000783.dcm
24862     media  data1  ravram  BVS_Mohammed              502507  2.16.124.113611.1.118.1.1.4248119  1.3.12.2.1107.5.4.5.10037.30000015092811383900000000070.dcm

[24863 rows x 8 columns]

In [38]:
display("Displaying the DICOMS to extract")
df_to_extract = pd.read_csv('config/TO_EXTRACT/dicom_to_extract_with_StudyInstanceUID.csv')
#display(df_to_extract.loc[df_to_extract['PatientID']==570066].head(n=5))
display(df_to_extract.describe())

'Displaying the DICOMS to extract'

           PatientID
count     155.000000
mean   388370.316129
std    116441.127466
min     29077.000000
25%    331180.000000
50%    413255.000000
75%    477481.500000
max    518213.000000

In [39]:
#df_extracted = pd.read_csv('data/to_extract/database-c-find_PRODUCTION-2017.csv')
#df_to_extract_2 = pd.read_csv('data/to_extract/database-c-find_PRODUCTION_2020_2.csv')
#df_to_extract = pd.concat([df_to_extract_1, df_to_extract_2])
#df_extracted_m = pd.merge(df_extracted, df, how='inner', on=['StudyInstanceUID'])
#df_extracted_m.to_csv('../CathAI/data/DeepCORO/EXAMS_Extracted/2017_dicom_extracted.csv')

In [40]:
display(df_extracted_study_level.describe())

           mrn                            exam_id                                                                                                                                                       path FileType                                                dicom_id
count      676                                676                                                                                                                                                        676      676                                                     676
unique     301                                676                                                                                                                                                        676        1                                                     676
top     484127  2.16.124.113611.1.118.1.1.3838792  /media/data1/ravram/BVS_Mohammed/351723/1.2.124.113532.10.128.229.40.20090601.161401.1174529/1.3.12.2.1107.5.4.5.135214.30000009060111285681200000184.dcm      dcm  1.3.46.670589.28.265405998058.20140520154929797554.2.2
freq        10                                  1                                                                                                                                                          1      676                                                       1

In [41]:
df_extracted = pd.DataFrame({'path':r})
df_extracted['FileType'] = df_extracted.path.apply(lambda x: x.split('.')[-1])
display("Total files", df_extracted.FileType.value_counts())
df_extracted = df_extracted.loc[df_extracted['FileType']=='dcm']
new_2 = df_extracted["path"].str.split("/", n=7, expand=True)
display(new_2)
df_extracted['mrn'] = new_2[5]
df_extracted['exam_id'] = new_2[6]
df_extracted['dicom_id'] = new_2[7].str.rstrip('.dcm')
df_extracted_study_level = df_extracted.groupby(['mrn','exam_id']).first().reset_index()
display(df_extracted_study_level.head(n=5))

'Total files'

dcm          24860
whole            1
completed        1
failed           1
Name: FileType, dtype: int64

      0       1      2       3             4       5                                  6                                                            7
3         media  data1  ravram  BVS_Mohammed  492835  2.16.124.113611.1.118.1.1.4072267  1.3.46.670589.28.3711508510107.20150130034127340165.2.2.dcm
4         media  data1  ravram  BVS_Mohammed  492835  2.16.124.113611.1.118.1.1.4072267  1.3.46.670589.28.3711508510107.20150130034144054167.2.2.dcm
5         media  data1  ravram  BVS_Mohammed  492835  2.16.124.113611.1.118.1.1.4072267  1.3.46.670589.28.3711508510107.20150130034214658170.2.2.dcm
6         media  data1  ravram  BVS_Mohammed  492835  2.16.124.113611.1.118.1.1.4072267  1.3.46.670589.28.3711508510107.20150130034353340173.2.2.dcm
7         media  data1  ravram  BVS_Mohammed  492835  2.16.124.113611.1.118.1.1.4072267  1.3.46.670589.28.3711508510107.20150130034552231178.2.2.dcm
...   ..    ...    ...     ...           ...     ...                                ...                                                          ...
24858     media  data1  ravram  BVS_Mohammed  502507  2.16.124.113611.1.118.1.1.4248119  1.3.12.2.1107.5.4.5.10037.30000015092723400023400000777.dcm
24859     media  data1  ravram  BVS_Mohammed  502507  2.16.124.113611.1.118.1.1.4248119  1.3.12.2.1107.5.4.5.10037.30000015092723400023400000779.dcm
24860     media  data1  ravram  BVS_Mohammed  502507  2.16.124.113611.1.118.1.1.4248119  1.3.12.2.1107.5.4.5.10037.30000015092723400023400000781.dcm
24861     media  data1  ravram  BVS_Mohammed  502507  2.16.124.113611.1.118.1.1.4248119  1.3.12.2.1107.5.4.5.10037.30000015092723400023400000783.dcm
24862     media  data1  ravram  BVS_Mohammed  502507  2.16.124.113611.1.118.1.1.4248119  1.3.12.2.1107.5.4.5.10037.30000015092811383900000000070.dcm

[24860 rows x 8 columns]

      mrn                            exam_id                                                                                                                                    path FileType                                                  dicom_id
0  111231  2.16.124.113611.1.118.1.1.4299735  /media/data1/ravram/BVS_Mohammed/111231/2.16.124.113611.1.118.1.1.4299735/1.3.12.2.1107.5.4.5.135214.30000015112919190822600004740.dcm      dcm  1.3.12.2.1107.5.4.5.135214.30000015112919190822600004740
1  111231  2.16.124.113611.1.118.1.1.4302072    /media/data1/ravram/BVS_Mohammed/111231/2.16.124.113611.1.118.1.1.4302072/1.3.46.670589.28.265405998058.20151211132624126714.2.2.dcm      dcm    1.3.46.670589.28.265405998058.20151211132624126714.2.2
2  111231  2.16.124.113611.1.118.1.1.4303003  /media/data1/ravram/BVS_Mohammed/111231/2.16.124.113611.1.118.1.1.4303003/1.3.12.2.1107.5.4.5.160423.30000015121118073568700000020.dcm      dcm  1.3.12.2.1107.5.4.5.160423.30000015121118073568700000020
3  111231  2.16.124.113611.1.118.1.1.4305906   /media/data1/ravram/BVS_Mohammed/111231/2.16.124.113611.1.118.1.1.4305906/1.3.46.670589.28.3711508510107.20151216135922323795.2.2.dcm      dcm   1.3.46.670589.28.3711508510107.20151216135922323795.2.2
4  114530  2.16.124.113611.1.118.1.1.4399644    /media/data1/ravram/BVS_Mohammed/114530/2.16.124.113611.1.118.1.1.4399644/1.3.46.670589.28.265405998058.20160425190343315342.2.2.dcm      dcm    1.3.46.670589.28.265405998058.20160425190343315342.2.2

In [42]:
display(df_extracted_study_level.mrn.value_counts())
display(df_to_extract.tail(n=5))
display(df_extracted.tail(n=5))

484127    14
253379    13
368462    11
315323    11
156374     9
          ..
63774      1
500014     1
511059     1
301900     1
432516     1
Name: mrn, Length: 337, dtype: int64

     PatientID                   StudyInstanceUID
150      29077  2.16.124.113611.1.118.1.1.4609527
151     379967  2.16.124.113611.1.118.1.1.4631812
152     253379  2.16.124.113611.1.118.1.1.4663692
153     468418  2.16.124.113611.1.118.1.1.4671850
154     334168  2.16.124.113611.1.118.1.1.4683969

                                                                                                                                        path FileType     mrn                            exam_id                                                 dicom_id
24858  /media/data1/ravram/BVS_Mohammed/502507/2.16.124.113611.1.118.1.1.4248119/1.3.12.2.1107.5.4.5.10037.30000015092723400023400000777.dcm      dcm  502507  2.16.124.113611.1.118.1.1.4248119  1.3.12.2.1107.5.4.5.10037.30000015092723400023400000777
24859  /media/data1/ravram/BVS_Mohammed/502507/2.16.124.113611.1.118.1.1.4248119/1.3.12.2.1107.5.4.5.10037.30000015092723400023400000779.dcm      dcm  502507  2.16.124.113611.1.118.1.1.4248119  1.3.12.2.1107.5.4.5.10037.30000015092723400023400000779
24860  /media/data1/ravram/BVS_Mohammed/502507/2.16.124.113611.1.118.1.1.4248119/1.3.12.2.1107.5.4.5.10037.30000015092723400023400000781.dcm      dcm  502507  2.16.124.113611.1.118.1.1.4248119  1.3.12.2.1107.5.4.5.10037.30000015092723400023400000781
24861  /media/data1/ravram/BVS_Mohammed/502507/2.16.124.113611.1.118.1.1.4248119/1.3.12.2.1107.5.4.5.10037.30000015092723400023400000783.dcm      dcm  502507  2.16.124.113611.1.118.1.1.4248119  1.3.12.2.1107.5.4.5.10037.30000015092723400023400000783
24862  /media/data1/ravram/BVS_Mohammed/502507/2.16.124.113611.1.118.1.1.4248119/1.3.12.2.1107.5.4.5.10037.30000015092811383900000000070.dcm      dcm  502507  2.16.124.113611.1.118.1.1.4248119  1.3.12.2.1107.5.4.5.10037.30000015092811383900000000070

In [43]:
display("To extract prior to removal of already extracted exams", df_to_extract.describe())
df_extracted = df_to_extract.loc[df_to_extract['StudyInstanceUID'].isin(df_extracted_study_level['exam_id'])]
df_to_be_extracted = df_to_extract.loc[~df_to_extract['StudyInstanceUID'].isin(df_extracted_study_level['exam_id'])]

display("Extracted", df_extracted.describe())
display("To be extracted", df_to_be_extracted.describe())
display(df_to_be_extracted.head(n=5))

'To extract prior to removal of already extracted exams'

           PatientID
count     155.000000
mean   388370.316129
std    116441.127466
min     29077.000000
25%    331180.000000
50%    413255.000000
75%    477481.500000
max    518213.000000

'Extracted'

           PatientID
count     155.000000
mean   388370.316129
std    116441.127466
min     29077.000000
25%    331180.000000
50%    413255.000000
75%    477481.500000
max    518213.000000

'To be extracted'

       PatientID
count        0.0
mean         NaN
std          NaN
min          NaN
25%          NaN
50%          NaN
75%          NaN
max          NaN

Empty DataFrame
Columns: [PatientID, StudyInstanceUID]
Index: []

In [44]:
df_to_be_extracted = df_to_be_extracted[['PatientID','StudyInstanceUID']]
df_to_be_extracted = df_to_be_extracted.set_index('PatientID')
df_to_be_extracted.to_csv('config/TO_EXTRACT/dicom_to_extract_with_StudyInstanceUID.csv')
extract_filename = 'config/TO_EXTRACT/dicom_to_extract_with_StudyInstanceUID.csv'
print("Extracted new file for DICOM copying", extract_filename)

Extracted new file for DICOM copying config/TO_EXTRACT/dicom_to_extract_with_StudyInstanceUID.csv

In [45]:
#df_to_be_extracted = pd.read_csv('config/TO_EXTRACT/'+YEAR+'.csv')
#display(df_to_be_extracted)

## Test Anonymization

In [46]:
path = '/media/data1/ravram/DeepCORO/2019/267920477097029320671587129404529631902/1.3.6.1.4.1.23849.3598784133.16.1636881522360890000/1.3.6.1.4.1.23849.3340572284.16.1636881522434990000.dcm'

In [47]:
import pydicom
dataset = pydicom.dcmread(path)

In [48]:
display(dataset)

Dataset.file_meta -------------------------------
(0002, 0000) File Meta Information Group Length  UL: 186
(0002, 0001) File Meta Information Version       OB: b'\x00\x01'
(0002, 0002) Media Storage SOP Class UID         UI: X-Ray Angiographic Image Storage
(0002, 0003) Media Storage SOP Instance UID      UI: 1.3.6.1.4.1.23849.1751036954.16.1636881522434990000
(0002, 0010) Transfer Syntax UID                 UI: Explicit VR Little Endian
(0002, 0012) Implementation Class UID            UI: 1.2.40.0.13.1.1.1
(0002, 0013) Implementation Version Name         SH: 'dcm4che-1.4.38'
-------------------------------------------------
(0008, 0005) Specific Character Set              CS: 'ISO_IR 100'
(0008, 0008) Image Type                          CS: ['DERIVED', 'PRIMARY', 'SINGLE PLANE', 'SINGLE A', 'STORE FLUORO']
(0008, 0016) SOP Class UID                       UI: X-Ray Angiographic Image Storage
(0008, 0018) SOP Instance UID                    UI: 1.3.6.1.4.1.23849.1751036954.16.1636881522434990000
(0008, 0020) Study Date                          DA: '20190313'
(0008, 0022) Acquisition Date                    DA: '20190313'
(0008, 0023) Content Date                        DA: '20190313'
(0008, 0030) Study Time                          TM: '074232.000000'
(0008, 0031) Series Time                         TM: '112507.000000'
(0008, 0033) Content Time                        TM: ''
(0008, 0050) Accession Number                    SH: '2063169528740355'
(0008, 0060) Modality                            CS: 'XA'
(0008, 0070) Manufacturer                        LO: ''
(0008, 0090) Referring Physician's Name          PN: ''
(0008, 1030) Study Description                   LO: 'Controle fluoroscopique Stentgraft'
(0008, 103e) Series Description                  LO: 'FL - CTO'
(0008, 2142) Start Trim                          IS: "1"
(0008, 2143) Stop Trim                           IS: "107"
(0008, 2144) Recommended Display Frame Rate      IS: "10"
(0010, 0010) Patient's Name                      PN: '2457'
(0010, 0020) Patient ID                          LO: '267920477097029320671587129404529631902'
(0010, 0030) Patient's Birth Date                DA: '19390810'
(0010, 0040) Patient's Sex                       CS: ''
(0012, 0062) Patient Identity Removed            CS: 'YES'
(0018, 0040) Cine Rate                           IS: "10"
(0018, 0060) KVP                                 DS: "78.4"
(0018, 1063) Frame Time                          DS: "100.0"
(0018, 1110) Distance Source to Detector         DS: "1023.0"
(0018, 1111) Distance Source to Patient          DS: "736.8030606"
(0018, 1114) Estimated Radiographic Magnificatio DS: "1.3884307"
(0018, 1150) Exposure Time                       IS: "866"
(0018, 1151) X-Ray Tube Current                  IS: "98"
(0018, 1154) Average Pulse Width                 DS: "8.1"
(0018, 1155) Radiation Setting                   CS: 'SC'
(0018, 115a) Radiation Mode                      CS: 'PULSED'
(0018, 115e) Image and Fluoroscopy Area Dose Pro DS: "1.063"
(0018, 1162) Intensifier Size                    DS: "480.0"
(0018, 1164) Imager Pixel Spacing                DS: [0.7459375, 0.7459375]
(0018, 1190) Focal Spot(s)                       DS: "0.6"
(0018, 1500) Positioner Motion                   CS: 'STATIC'
(0018, 1510) Positioner Primary Angle            DS: "29.3"
(0018, 1511) Positioner Secondary Angle          DS: "1.3"
(0018, 1600) Shutter Shape                       CS: 'RECTANGULAR'
(0018, 1602) Shutter Left Vertical Edge          IS: "138"
(0018, 1604) Shutter Right Vertical Edge         IS: "375"
(0018, 1606) Shutter Upper Horizontal Edge       IS: "102"
(0018, 1608) Shutter Lower Horizontal Edge       IS: "410"
(0018, 1700) Collimator Shape                    CS: 'RECTANGULAR'
(0018, 1702) Collimator Left Vertical Edge       IS: "137"
(0018, 1704) Collimator Right Vertical Edge      IS: "374"
(0018, 1706) Collimator Upper Horizontal Edge    IS: "102"
(0018, 1708) Collimator Lower Horizontal Edge    IS: "409"
(0018, 5100) Patient Position                    CS: 'HFS'
(0018, 7006) Detector Description                LT: '3-PX4700 1.6 (I08)'
(0020, 000d) Study Instance UID                  UI: 1.3.6.1.4.1.23849.3598784133.16.1636881522360890000
(0020, 000e) Series Instance UID                 UI: 1.3.6.1.4.1.23849.3340572284.16.1636881522434990000
(0020, 0010) Study ID                            SH: ''
(0020, 0011) Series Number                       IS: "14"
(0020, 0012) Acquisition Number                  IS: "14"
(0020, 0013) Instance Number                     IS: "1"
(0020, 0020) Patient Orientation                 CS: ['L', 'F']
(0020, 1002) Images in Acquisition               IS: "1"
(0028, 0002) Samples per Pixel                   US: 1
(0028, 0004) Photometric Interpretation          CS: 'MONOCHROME2'
(0028, 0008) Number of Frames                    IS: "107"
(0028, 0009) Frame Increment Pointer             AT: (0018, 1063)
(0028, 0010) Rows                                US: 512
(0028, 0011) Columns                             US: 512
(0028, 0100) Bits Allocated                      US: 8
(0028, 0101) Bits Stored                         US: 8
(0028, 0102) High Bit                            US: 7
(0028, 0103) Pixel Representation                US: 0
(0028, 1040) Pixel Intensity Relationship        CS: 'LIN'
(0028, 1050) Window Center                       DS: "116.0"
(0028, 1051) Window Width                        DS: "146.0"
(0028, 1056) VOI LUT Function                    CS: 'LINEAR'
(0028, 2110) Lossy Image Compression             CS: '00'
(0028, 6010) Representative Frame Number         US: 107
(0040, 0245) Performed Procedure Step Start Time TM: '074232.423000'
(0400, 0561)  Original Attributes Sequence  2 item(s) ----
   (0400, 0550)  Modified Attributes Sequence  1 item(s) ----
      (0008, 0080) Institution Name                    LO: 'INSTITUT DE CARDIOLOGIE'
      ---------
   (0400, 0562) Attribute Modification DateTime     DT: '20190314091754'
   (0400, 0563) Modifying System                    LO: 'McKesson'
   (0400, 0564) Source of Previous Values           LO: ''
   (0400, 0565) Reason for the Attribute Modificati CS: 'COERCE'
   ---------
   (0400, 0550)  Modified Attributes Sequence  1 item(s) ----
      (0008, 0080) Institution Name                    LO: 'ICM - Radiologie'
      ---------
   (0400, 0562) Attribute Modification DateTime     DT: '20210708080803'
   (0400, 0563) Modifying System                    LO: 'McKesson'
   (0400, 0564) Source of Previous Values           LO: ''
   (0400, 0565) Reason for the Attribute Modificati CS: 'COERCE'
   ---------
(5000, 0005) Curve Dimensions                    US: 2
(5000, 0010) Number of Points                    US: 4440
(5000, 0020) Type of Data                        CS: 'ECG'
(5000, 0030) Axis Units                          SH: ['DPPS', 'NONE']
(5000, 0103) Data Value Representation           US: 0
(5000, 0110) Curve Data Descriptor               US: [0, 1]
(5000, 0112) Coordinate Start Value              US: 0
(5000, 0114) Coordinate Step Value               US: 400
(5000, 3000) Curve Data                          OW: Array of 8880 elements
(7fe0, 0010) Pixel Data                          OB: Array of 28049408 elements